    <!--Footer-->
    <footer>
        <nav class="navbar-dark bg-dark">
            <a href="https://github.com/kevind456/WebandScriptingProgramming" class="github-icon">
                <i class="fa-brands fa-github"></i>
            </a>
            <h6 class="navbar-text">&copy; Copyright 2024. All rights reserved</h6>
        </nav>
    </footer>
  </body>
</html>
